.img-1{
    background-image: url('img/2img/90800-calendar.gif');
    background-size: cover;
}
.img-2{
    background-image: url('img/2img/69346-eating-candy.gif');
    background-size: cover;
}
.img-3{
    background-image: url('img/2img/125870-dumble-exercise-animation.gif');
    background-size: cover;
}
.img-4{
    background-image: url('img/127224-thanksgiving-basket.gif');
    background-size: cover;

}
.img-5{
    background-image: url('img/80565-water-bottle.gif');
    background-size: contain;
}
.img-6{
    background-image: url('img/menopause-concept-illustration_114360-9109.avif');
    background-size: cover;

}
.img-7{
    background-image: url('img/pms-mood-before-menstruation-concept-young-irritated-woman-cartoon-character-feeling-depressed-angry-pain-belly-during-periods-vector-illustration_160308-3499.avif');
    background-size: cover;

}

.img-8{
    background-image: url('img/wp10389008-peach-cats-wallpapers.jpg');
    background-size: cover;

}

.img-9{
    background-image: url('img/pngtree-girl-sleeping-on-sanitary-napkin-png-image_4346035\ \(1\).png');
    background-size: cover;

}

.img-10{
    background-image: url('img/2img/food/24971-chocolate-animation.gif');
    background-size: cover;

}

.img-11{
    background-image: url('img/2img/food/76436-cow-drink-milk.gif');
    background-size: cover;
    background-position: center;

}
.img-12{
    background-image: url('img/2img/food/mae-mu-X5u6snvBCf0-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.img-13{
    background-image: url('img/2img/food/slashio-photography-T5KPTbbK-_E-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.img-14{
    background-image: url('img/2img/food/mood-joke/615626004-menstruation_jokes_aren__t_funny__period_by_cometakealook-d5mmt5q.webp');
    background-size: cover;
    background-position: calc();
}

.img-15{
    background-image: url('img/2img/food/mood-joke/e002ea97ddf7ee7aac0ec31cd52272d5.jpg');
    background-size: cover;
}
.img-16{
    background-image: url('img/2img/food/mood-joke/3c94f0e404a475007db7691e7d002292.jpg');
    background-size: cover;
}
.img-17{
    background-image: url('img/2img/food/song/behnam-norouzi-JOjidQGchXM-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.img-18{
    background-image: url('img/2img/food/mood-joke/istockphoto-1208380318-612x612.jpg   ');
    background-size: cover;
}